@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700;800&display=swap');

:root {
    --color-base-shadow: #141414;
    --color-base-primary: #1e1e1e;
    --color-base-secondary: #3c3c3c;
    --color-base-text-primary: #a0a0a0;
    --color-base-text-secondary: #868686;
    --color-logo: white;
    --color-header-text: #e9e9e9;
    --color-value-name-text: #e9e9e9d0;
    --color-line-card: #e9e9e95b;
    --color-button: #c41734;
    --color-button2: #df3030;
    --color-base-card: #df3030;
}

.conteiner-card {
    width: 100%;
    padding: 10px 50px 10px 50px;
}

.card {
    display: flex;
    width: 100%;
    min-height: 200px;
    padding: 10px 20px 10px 20px;
    background-image: linear-gradient(var(--color-button), var(--color-button2));
    border-radius: 20px;
    box-shadow: 1px 1px 4px 0px var(--color-shadow);
    transform: scale(0.95);
    transition: all .5s ease;
}

.card:hover {
    box-shadow: 2px 2px 7px 0px var(--color-base-shadow);
    transform: scale(1);
    transition: all .5s ease;
}

.descriptions {
    display: flex;
    flex-direction: column;
    padding-right: 25px;
    min-height: 100%;
    width: 65%;
    border-right: 1px solid var(--color-line-card);
}

.descriptions h2 {
    color: var(--color-header-text);
    border-bottom:  1px solid var(--color-line-card);
}

.descriptions p {
    margin-top: 5px;
    color: var(--color-header-text);
    height: 55%;
}

.info {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    padding: 10px 0px 0px 15px ;
}  

.value-name p{
    margin-block-start: 0em;
    margin-block-end: 0em;
    line-height: 15px;
    color: var(--color-value-name-text);
    font-size: 1rem;
    font-weight: 500;
    float: left;
}

.value span{
    color: var(--color-header-text);
    float: right;
    font-size: 1.5rem;
    font-weight: 600;
}

.mini-card {
    background-color: var(--color-base-shadow);
    border-radius: 20px;
    box-shadow: 1px 1px 4px 0px var(--color-base-shadow);
    padding: 8px 15px 0px 15px;
    line-height: 20px;
    margin-right: 5px;
    width: 45px;
    text-align: center;
    color: var(--color-base-text-primary);
    cursor: pointer;
    transition: all 0.5s ease;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: hidden;
}

.mini-card:hover {
    background-color: var(--color-base-primary);
    width: 70%;
    transition: all 0.5s ease;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.options p {
    margin-top: 2px;
    color: var(--color-button2);
    font-weight: 500;
}

#content-trash, #content-edit{
    font-size: 1.1rem;
}