@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700;800&display=swap');

:root {
    --color-base-shadow: #141414;
    --color-base-shadow-semi: #1a1a1a;
    --color-base-primary: #1e1e1e;  
    --color-base-secondary: #3c3c3c;
    --color-base-text-primary: #a0a0a0;
    --color-base-text-primary-semi: #a8a8a8;
    --color-base-text-secondary: #868686;
    --color-logo: white;
    --color-header-text: #e9e9e9;
    --color-header-text-transp: #e9e9e9cc;
    --color-button: #c41734;
    --color-btn-form: #0f0f0f;
    --color-button2: #df3030;
    --color-base-card-top: #c41734;
}

.conteiner-expenses {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    padding: 10px;
}

.conteiner-viewer {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    justify-content: space-between;
}

.card-menu {
    height: 40%;
    padding: 10px;
}

.border-orange {
    border-color: var(--color-button2);
}

.bg-base-primary {
    background-color: var(--color-base-shadow);
}

.bg-base-primary:hover {
    background-color: var(--color-base-shadow-semi);
}

.text-header-color {
    color: var(--color-button2);
    border-bottom: transparent;
}

.content-color {
    color: var(--color-header-text);
    display: flex;
}

.clocker {
    width: 35%;
    height: 100%;
}

.clock, .te-value {
    width: 100%;
    height: 50%;
    font-size: 2.2rem;
    line-height: 45px;
}

.date, .te-text {
    width: 100%;
    height: 50%;
    font-size: 1.4rem;
    line-height: 15px;
}

.somas {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.card-viewer {
    height: calc(100% - 195px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-detail {
    height: 100%;
    padding: 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
}

.body-viewer {
    display: flex;
    flex-direction: row;
}

form input {
    outline: none;
    transition: all .5s ease;
}

.obs-conteiner {
    width: 60%;
    height: 100%;
    margin-right: 10px;
    background-color: transparent;
    color: var(--color-header-text);
    outline: none;
    transition: all .5s ease;
    resize: none;
}

.dates, .values {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input[type="date"] {
    font-size: 1.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 3px;
    color: var(--color-header-text);
    background-color: transparent;
}

.detail-conteiner {
    display: flex;
    flex-direction: column;
}

.title-due, .title-payment, .title-valor {
    color: var(--color-button2);
}

.div-cv {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.content-valor {
    width: 50%;
    font-size: 1.4rem;
    background-color: transparent;
    color: var(--color-header-text);
}

.card-info {
    color: var(--color-base-text-primary-semi);
}

.bold {
    font-weight: bold;
}

.conteiner-list {
    height: 100%;
    width: 100%;
}

.header-list {
    display: flex;
    flex-direction: column;
}

.text-color {
    color: var(--color-base-text-primary-semi);
}

.button-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn {
    box-shadow: none !important;
}

.create-button-list {
    margin-bottom: 20px;
}

.long-button {
    width: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin-top: 25px;
    padding: 15px;
    width: 100%;
    height: 320px;
    background-color: var(--color-base-shadow-semi);
    overflow-y: hidden;
    overflow-y: scroll;
}

.list::-webkit-scrollbar {
    background-color: var(--color-base-shadow-semi);
    width: 10px;
}

.list::-webkit-scrollbar-thumb {
    border-radius: 3px;
    border: 1px solid var(--color-button2);
    background-color: var(--color-base-shadow-semi);
}

.list::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-button2);
}

.bg-orange {
    background-color: var(--color-button2);
}

.text-white {
    color: var(--color-header-text);
}

.u-list {
    list-style: none;
    padding-left: 0 !important;
    width: 100%;
}

.list-cards {
    background-color: var(--color-base-shadow);
    border-radius: 5px;
}

.list-cards:hover {
    background-color: var(--color-base-shadow-semi);
}

.selected {
    background-color: var(--color-base-shadow-semi);
}

.div-buttons {
    width: 50%;
}

.btn-outline-dark {
    border: unset;
    color: var(--color-header-text);
    background-color: var(--color-button2);
    border: 1px solid var(--color-button2);
}

.btn-outline-dark:hover {
    border: unset;
    color: var(--color-button2);
    background-color: transparent;
    border: 1px solid var(--color-button2);
}

#expenseName {
    width: 50%;
}

#cd-edit form {
    position: relative;
}

@keyframes bgColor {
    0% {background-color: transparent; color: transparent;}
    50% {background-color: rgba(82, 156, 82, 0.459); color: rgb(4, 71, 4);}
    0% {background-color: rgba(82, 156, 82, 0.0); color: transparent;}
}

.msg-http {
    background-color: transparent;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    position: absolute;
    color: transparent;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    animation-name: bgColor;
    animation-duration: 3s;
}